[submodule "vendor/sprockets"]
	path = vendor/sprockets
	url = git://github.com/sstephenson/sprockets.git
[submodule "vendor/uglifier"]
	path = vendor/uglifier
	url = git://github.com/lautis/uglifier.git
